.avatar-box {
    display: block;
    position: relative;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.cover-box {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.avatar-pic, .file-pic {
    max-width: 100px;
    max-height: 100px;
    display: block;
}

.file-cover {
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.file-upload, .file-input {
    display: none;
}

.upload-image {
    display: inline-block;
    position: absolute;
    top: 67px;
    right: 10px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);

    &:hover {
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    }
}

.cover-box .upload-image {
    top: auto;
    bottom: 0;
}

.upload-button, .upload-image {
    font-size: 1.8em;

    &:hover {
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        color: #999;
    }
}

.dataTables_wrapper {
    .dataTables_processing {
        background: none;
        box-shadow: none;
    }
}
